<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Lock viewport to prevent scaling -->
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="description" content="Pullution Minotor - ArcGIS">
  <meta name="author" content="">
  <link rel="icon" href="https://www.esri.com/favicon.ico">
  <title>海南大学校内查询系统</title>

  <!-- Calcite Maps Bootstrap -->
  <link rel="stylesheet" href="static/css/calcite-maps-bootstrap.min-v0.3.css">

  <!-- Calcite Maps -->
  <link rel="stylesheet" href="static/css/calcite-maps-arcgis-4.x.min-v0.3.css">

  <!-- Calcite Maps Extend -->
  <link rel="stylesheet" href="static/css/calcite-maps-extend.css">

  <!-- ArcGIS JS 4.x -->
  <link rel="stylesheet" href="https://xzdbd.com/static/arcgis/js/4.2/esri/css/main.css">
  <!--link rel="stylesheet" href="../../dist/css/arcgis/themes/light/main.css"-->

  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      height: 100%;
    }


    #panelLegend .panel-body {
      background-color: white;
    }


    #panelInfo .esri-icon.esri-icon-map-pin {
      margin-right: 10px;
      font-size: 25px;
    }


    #panelInfo .info-title {
      font-size: 20px;
    }


    .form-box {
      display: flex;
      margin: 0px 15px;
      padding: 15px 0;
      border: 1px solid rgba(255, 255, 255, .35);
      background-color: rgba(130, 130, 130, .1);
    }


    .btn-color-close {
      margin-top: -17px;
      margin-right: -21px;
      font-size: 14px;
      color: #828282;
    }


    .btn-color-close:hover,
    .btn-color-close:focus {
      color: #000;
    }


    .control-padding-top {
      padding-top: 5px;
    }


    .padding-right-none {
      padding-right: 0;
    }


    .info-title {
      font-size: 25px;
      margin-bottom: 10px;
    }
    /* Color Widget */

    .esri-color-picker .esri-swatch-preview.esri-container,
    .esri-color-picker .esri-header,
    .esri-color-picker .esri-footer,
    .esri-color-picker .esri-palette-options .esri-palette-toggle>input,
    .dijitReset .dijitToggleButtonIconChar,
    .esri-color-picker .esri-palette-options .esri-palette-toggle {
      display: none;
    }


    .esri-color-picker.esri-container {
      border: 0;
      padding: 0;
      border-radius: 0;
      background-color: transparent;
    }


    .esri-color-picker .esri-hex-input {
      border: 0;
      width: 100%;
    }


    .esri-color-picker .esri-swatch-row {
      line-height: 1;
    }


    .esri-color-picker .esri-swatch {
      width: 13px;
      height: 13px;
    }


    .esri-color-picker .esri-hex-input .dijitInputInner {
      font-size: 12px;
      width: 100%;
      padding: 2px 4px;
    }


    #loadingOverlay {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1100;
      width: 100%;
      height: 100%;
      overflow: hidden;
      background-color: #E5E5E5;
      -webkit-box-shadow: inset 0px 0px 82px 19px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0px 0px 82px 19px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0px 0px 82px 19px rgba(0, 0, 0, 0.3);
    }


    #loadingIndicator {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 1101;
    }


    .loadingIndicator {
      margin-left: -17px;
      margin-top: -20px;
    }
  </style>

</head>

<body class="calcite-nav-top">

  <div id="loadingOverlay"></div>
  <div id="loadingIndicator" class="loadingIndicator">
    <img src="./static/images/loading-light.gif">
  </div>

  <!-- Navbar -->

  <nav class="navbar navbar-fixed-top calcite-navbar calcite-bgcolor-dark calcite-text-light">
    <!-- Menu -->
    <div class="dropdown calcite-dropdown calcite-bg-light calcite-text-dark" role="presentation">
      <!--a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"-->
      <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
        <div class="calcite-dropdown-toggle">
          <span class="sr-only">Toggle dropdown menu</span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
      <ul class="dropdown-menu">
        <li><a role="button" data-target="#modalSplash" data-toggle="modal" aria-haspopup="true"><span class="glyphicon glyphicon-thumbs-up"></span> About</a></li>
        <li><a class="hidden-md hidden-lg" href="#2dTab" aria-controls="2Dtab" role="tab" data-toggle="tab"> Map</a></li>
        <li><a class="visible-xs" role="button" data-target="#panelSearch" aria-haspopup="true"><span class="glyphicon glyphicon-search"></span> Search</a></li>
        <li><a role="button" data-target="#panelAdminBuilding" aria-haspopup="true"><span class="glyphicon glyphicon-th-large"></span> 行政建筑</a></li>
        <li><a role="button" data-target="#panelAdminBuilding" aria-haspopup="true"><span class="glyphicon glyphicon-th-large"></span> 教学建筑</a></li>
        <li><a role="button" data-target="#panelAdminBuilding" aria-haspopup="true"><span class="glyphicon glyphicon-th-large"></span> 餐饮</a></li>
        <li><a role="button" data-target="#panelAdminBuilding" aria-haspopup="true"><span class="glyphicon glyphicon-th-large"></span> 校门</a></li>
        <li><a role="button" data-target="#panelAdminBuilding" aria-haspopup="true"><span class="glyphicon glyphicon-th-large"></span> 学生宿舍</a></li>
        <li><a role="button" data-target="#panelAdminBuilding" aria-haspopup="true"><span class="glyphicon glyphicon-th-large"></span> 体育设施</a></li>
        <li><a role="button" data-target="#panelAdminBuilding" aria-haspopup="true"><span class="glyphicon glyphicon-th-large"></span> 地标建筑</a></li>
        <li><a role="button" data-target="#panelAdminBuilding" aria-haspopup="true"><span class="glyphicon glyphicon-th-large"></span> 绿地</a></li>
        <li><a role="button" data-target="#panelAdminBuilding" aria-haspopup="true"><span class="glyphicon glyphicon-th-large"></span> 水体</a></li>
        <li><a role="button" data-target="#panelAdminBuilding" aria-haspopup="true"><span class="glyphicon glyphicon-th-large"></span> 主干道</a></li>
        <li><a role="button" data-target="#panelAdminBuilding" aria-haspopup="true"><span class="glyphicon glyphicon-th-large"></span> 非机动车道</a></li>
        <!-- <li><a role="button" data-target="#panelAnalysis" aria-haspopup="true"><span class="glyphicon glyphicon-th-large"></span> 分析</a></li> -->
        <li><a role="button" id="calciteToggleNavbar" aria-haspopup="true"><span class="glyphicon glyphicon-fullscreen"></span> 全图显示</a></li>
      </ul>
    </div>
    <!-- Title -->
    <div class="calcite-title calcite-overflow-hidden">
      <span class="calcite-title-main">海南大学校内查询系统</span>
    </div>
    <!-- Nav -->
    <ul class="calcite-nav nav navbar-nav">
      <li class="active">
        <a id="mapNav" class="hidden-xs hidden-sm" href="#2dTab" aria-controls="2Dtab" aria-expanded="true" role="tab" data-toggle="tab"
          data-tooltip="tip" title="2D View" data-placement="bottom">Map</a>
      </li>
      <li>
        <div class="calcite-navbar-search calcite-search-expander">
          <div id="searchNavDiv"></div>
        </div>
      </li>
    </ul>
  </nav>
  <!--/.navbar -->

  <!-- Modal Window -->

  <div class="modal fade" id="modalSplash" tabindex="-1" role="dialog" aria-labelledby="splashlModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="splash-body">
                <div class="text-center">
                  <h3>欢迎访问海南大学校内查询系统！</h3>
                  <hr>
                  <div class="form-inline">
                    <div class="form-group">
                      <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">开始浏览</a>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Map Container  -->

  <div class="calcite-map calcite-map-absolute">
    <div id="tabContainer" class="tab-content">
      <div id="2dTab" class="tab-pane fade in active" role="tabpanel">
        <div id="mapViewDiv"></div>
      </div>
    </div>
  </div>

  <!-- Toggle Content Panel  -->
  <div class="calcite-div-toggle calcite-div-toggle-zero-bottom">
    <div class="calcite-div-toggle-background">
      <div class="up-arrow" title="Hide Panel"></div>
      <div class="span-result" title="result">详情</div>
    </div>
  </div>

  <!-- Legend Box  -->
  <div class="calcite-legend-box calcite-legend-box-bottom">
    <div class="calcite-legend-box-content calcite-legend-innder-box">
      <div class="calcite-legend-box-list-container">
        <div class="calcite-legend-container">
          <div class="calcite-legend-content">
            <div class="calcite-legend-list">
              <div class="calcite-legend">
                <img src="./static/images/good.png" style="width: 32px; height: 40px">
              </div>
              <div class="calcite-legend-label">优</div>
            </div>
            <div class="calcite-legend-list">
              <div class="calcite-legend">
                <img src="./static/images/fine.png" style="width: 32px; height: 40px">
              </div>
              <div class="calcite-legend-label">良</div>
            </div>
            <div class="calcite-legend-list">
              <div class="calcite-legend">
                <img src="./static/images/slight.png" style="width: 32px; height: 40px">
              </div>
              <div class="calcite-legend-label">轻度污染</div>
            </div>
            <div class="calcite-legend-list">
              <div class="calcite-legend">
                <img src="./static/images/medium.png" style="width: 32px; height: 40px">
              </div>
              <div class="calcite-legend-label">中度污染</div>
            </div>
            <div class="calcite-legend-list">
              <div class="calcite-legend">
                <img src="./static/images/heavy.png" style="width: 32px; height: 40px">
              </div>
              <div class="calcite-legend-label">重度污染</div>
            </div>
            <div class="calcite-legend-list">
              <div class="calcite-legend">
                <img src="./static/images/severe.png" style="width: 32px; height: 40px">
              </div>
              <div class="calcite-legend-label">严重污染</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom Content Panel  -->

  <div class="calcite-div-content calcite-div-content-bottom">
    <div class="calcite-div-content-transparent-background calcite-div-content-info-collapse" style="display: none">
      <div class="calcite-div-content-resultbox-panel">
        <div class="calcite-div-content-resultbox-panel-content">

          <div class="calcite-div-content-box-container" id="resultContentContainer">
            <div class="calcite-div-content-info-container">
              <div class="calcite-div-content-header-container">
                <div class="calcite-div-content-span-header"><span class="esri-icon-home"></span> 当前站点</div>
                <div class="calcite-div-content-result-content">
                  <div>
                    <div class="calcite-div-content-div-clear"></div>
                    <div class="calcite-div-content-info-text" id="detail-station-name">监测站名称： </div>
                    <div class="calcite-div-content-info-text" id="detail-station-area">所在城市： </div>
                    <div class="calcite-div-content-info-text" id="detail-station-time">数据更新时间： </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>

          <div class="calcite-div-content-box-container" id="result2ContentContainer">
            <div class="calcite-div-content-info-container">
              <div class="calcite-div-content-header-container">
                <div>
                  <div class="calcite-div-content-span-header"><span class="esri-icon-table"></span> 详细指标</div>  
                </div> 
                <div class="calcite-div-content-result-content">
                  <div>
                    <div class="calcite-div-content-div-clear"></div>
                    <div class="calcite-div-content-info-text" id="detail-detail-quality">空气质量： </div>
                    <div class="calcite-div-content-info-text" id="detail-detail-aqi">AQI: </div>
                    <div class="calcite-div-content-info-text" id="detail-detail-primary-pollutant">首要污染物: </div>
                    <div class="calcite-div-content-info-text" id="detail-detail-pm25">PM2.5: </div>
                    <div class="calcite-div-content-info-text" id="detail-detail-pm10">PM10: </div>
                    <div class="calcite-div-content-info-text" id="detail-detail-co">CO: </div>
                    <div class="calcite-div-content-info-text" id="detail-detail-no2">NO2: </div>
                    <div class="calcite-div-content-info-text" id="detail-detail-o3">O3: </div>
                    <div class="calcite-div-content-info-text" id="detail-detail-so2">SO2: </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>

          <div class="calcite-div-content-chart-container" id="result3ContentContainer">
            <div class="calcite-div-content-info-container">
              <div class="calcite-div-content-header-container">
                <div>
                  <div class="calcite-div-content-span-header"><span class="esri-icon-table"></span> 最近24小时空气质量趋势</div>  
                </div>
                <div class="calcite-div-content-result-content">
                  <div id="chart" style="width: 850px; height: 150px;"></div>
                </div>
              </div>
            </div> 
          </div>

        </div>
      </div>
    </div>   
  </div>

  <!-- Panel Container -->
  
  <div class="calcite-panels calcite-panels-right calcite-bgcolor-light-orange calcite-text-dark panel-group" role="tablist" aria-multiselectable="true">
    
    <!-- Panel - Search -->

    <div id="panelSearch" class="panel collapse hidden-sm hidden-md hidden-lg">
      <div id="headingSearch" class="panel-heading" role="tab">
        <div class="panel-title">
          <a class="panel-toggle collapsed" role="button" data-toggle="collapse" href="#collapseSearch" aria-expanded="false" aria-controls="collapseSearch"><span class="glyphicon glyphicon-search" aria-hidden="true"></span><span class="panel-label">Search</span></a> 
          <a class="panel-close" role="button" data-toggle="collapse" data-target="#panelSearch"><span class="esri-icon esri-icon-close" aria-hidden="true"></span></a>        
        </div>
      </div>
      <div id="collapseSearch" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSearch">
        <div class="panel-body calcite-body-expander"> 
          <div id="searchPanelDiv"></div>
        </div>
      </div>
    </div>

  <!-- Panel - 行政建筑 -->

    <div id="panelAdminBuilding" class="panel collapse">
      <div id="AdminBuilding" class="panel-heading" role="tab">
          <div class="panel-title">
            <a class="panel-toggle" role="button" data-toggle="collapse" href="#collapseAdminBuilding" aria-expanded="false" aria-controls="collapseAdminBuilding"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span><span class="panel-label">地图查询</span></a>
            <a class="panel-close" role="button" data-toggle="collapse" data-target="#panelAdminBuilding"><span class="esri-icon esri-icon-close" aria-hidden="true"></span></a>
          </div>
      </div>
      <div id="collapseAdminBuilding" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAdminBuilding">
        <div class="panel-body calcite-body-expander">
          <!-- tab - 行政建筑 -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="adminBuilding">
              <div class="calcite-form-title">行政建筑查询</div>
              <div class="form-horizontal calcite-form-padding">
                <div class="form-group">
                  <label for="adminBuildingSearch" class="col-xs-3 control-label">名称</label>
                  <div class="col-xs-9">
                    <div id="adminBuildingSearchDiv" class="calcite-form-search esri-search esri-widget">
                      <div role="presentation" class="esri-search__container">
                        <div class="esri-search__input-container">
                          <input type="text" placeholder="查找地点名称" aria-label="搜索" class="esri-search__input" id="adminBuildingSearchDiv_input" role="textbox">
                        </div>
                        <div role="button" title="搜索" class="esri-search__submit-button esri-widget-button" tabindex="0"><span aria-hidden="true" role="presentation" class="esri-icon-search"></span><span class="esri-icon-font-fallback-text">搜索</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-9 col-xs-offset-3">
                    <button id="searchAdminBuilding" type="button" class="btn btn-primary btn-block">查询</button>
                    </div>
                  </div>

                  <table id="adminBuilding-info-table" class="table table-responsive table-hover">
                    
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>



    </div>
    <!-- /.calcite-panels group-->

    <script type="text/javascript">
      var dojoConfig = {
        packages: [{
          name: "bootstrap",
          location: "/static/vendor/dojo-bootstrap"
        },
        {
          name: "calcite-maps",
          location: "/static/js/dojo"
          //location: location.pathname.replace(/\/[^/]+$/, "") + "./../../lib/js/dojo"
        },
        {
          name: 'd3',
          location: 'https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6',
          main: 'd3.min'
        },
        {
          name: 'vega',
          location: 'https://cdnjs.cloudflare.com/ajax/libs/vega/2.6.1',
          main: 'vega.min'
        },
        {
          name: 'cedar',
          location: 'https://unpkg.com/arcgis-cedar@0.7.0/dist',
          main: 'cedar.min'
        }
        ]
      };
    </script>

    <!-- ArcGIS JS 4.x -->
    <script src="https://xzdbd.com/static/arcgis/js/4.2/init.js"></script>
    <script src="/static/js/main.js"></script>

</body>

</html>