.calcite-div-content {
    position: absolute;
    width: 100%;
    z-index: 999;
    background-color: white
}

.calcite-div-content-bottom {
    bottom: 0;
    transition: height 0.1s ease-in;
}

.calcite-div-content-transparent-background {
    background: rgba(256,256,256,0.70);
    border-top: 1px solid #028D6A
}

.calcite-div-content-info {
    height: 240px;
}

.calcite-div-content-info-collapse{
    height: 0;
}

.calcite-div-content-resultbox-panel {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.calcite-div-content-resultbox-panel-content {
    width: 1835px;
    margin: 0 15px;
    float: left;
}

.calcite-div-content-box-container {
    border: 1px solid #028D6A;
    background: #fff;
    display: inline-block;
    float: left;
    height: 192px;
    margin: 15px 15px 13px 0;
    overflow: hidden;
    width: 350px;
}

.calcite-div-content-chart-container {
    border: 1px solid #028D6A;
    background: #fff;
    display: inline-block;
    float: left;
    height: 192px;
    margin: 15px 15px 13px 0;
    overflow: hidden;
    width: 870px;
}

.calcite-div-content-info-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.calcite-div-content-header-container {
    clear: both;
    height: 100%;
    position: relative;
}

.calcite-div-content-span-header {
    color: #028D6A;
    font-weight: bolder;
    margin-left: 15px !important;
    font-weight: bold;
    margin: 15px 0 0 0;
    float: left;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calcite-div-content-result-content {
    padding-left: 15px;
    text-align: justify;
    clear: both;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.calcite-div-content-div-clear {
    clear: both;
}

.calcite-div-content-info-text {
    border-bottom: 1px solid #b4b4b4;
    color: #808080;

    border-bottom: 1px solid #b4b4b4;
    color: #6e6e6e;
    padding: 10px 4px 10px 0px;
    text-align: justify;
    float: left;
    width: 98%;
    font-size: 12px;
}

.calcite-div-content-info-link {
    color: #028D6A;
    text-decoration: none;

    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}

.calcite-div-toggle {
    color: #808080;
    position: absolute;
    z-index: 999;
    transition: bottom 0.1s ease-in;
    bottom: 0px;
    right: 0;
}

.calcite-div-toggle-bottom {
    bottom: 240px;
}

.calcite-div-toggle-zero-bottom {
    bottom: 0;
}

.calcite-div-toggle .calcite-div-toggle-background {
    overflow: hidden;
    z-index: 1005;
    text-align: center;
    float: right;
    margin: 0 10px;
}

.calcite-div-toggle .calcite-div-toggle-background .down-arrow {
    background-color: #028D6A;
    border-bottom: 1px solid #028D6A;
    background-image: url(../images/down.png);
    cursor: pointer;
    height: 43px;
    width: 131px;
    margin-top: 16px;
    bottom: 0px;
    background-position: 0px;
}

.calcite-div-toggle .calcite-div-toggle-background .up-arrow {
    background-color: #028D6A;
    border-bottom: 1px solid #028D6A;
    background-image: url(../images/up.png);
    cursor: pointer;
    height: 43px;
    width: 131px;
    margin-top: 16px;
    bottom: 0px;
    background-position: 0px;
}

.calcite-div-toggle .calcite-div-toggle-background .span-result {
    color: #fff;
    top: 30px;
    cursor: pointer;
    position: absolute;
    right: 55px;
    width: 65px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.calcite-legend-box {
    height: 42px;
    position: absolute;
    z-index: 998;
    overflow: hidden;
    left: 0px;
    right: 0px;
    bottom: 1px;
}

.calcite-legend-box-bottom {
    transition: height 0.1s ease-in;
    right: 150px;
}

.calcite-legend-box-up {
    bottom: 241px;
    right: 150px;
}

.calcite-legend-box-content {
    float: none;
    width: auto;
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #028D6A
}

.calcite-legend-innder-box div {
    float: left;
}

.calcite-legend-box-list-container {
    height: 100%;
    width: 100%;
}

.calcite-legend-container {
    height: 40px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.calcite-legend-content {
    padding-left: 10px;
    position: relative;
}

.calcite-legend-list {
    display: table;
}

.calcite-legend {
    padding: 0;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    margin-right: 5px;
    width: auto !important;
    max-height: 36px !important;
    line-height: 40px;
    float: none !important;
}

.calcite-legend-label {
    line-height: 40px;
    display: table-cell;
    vertical-align: middle;
    margin-right: 25px;
    margin-left: 5px;
}


